body {
    font-family:'Noto Sans KR', sans-serif;
    color: #333;
    height: auto;
}

a {
    text-decoration: none;
}
img {
    display: block;
}

.btn {
    width: auto;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    transition: .4s;
}
.btn:hover {
    color: rgb(86, 56, 88);
    background-color: #ffffff;
    font-weight: 700;
  }

  .back-to-position {
    opacity: 0;
    transition: 1s;
  }

  .back-to-position.to-right {
    transform: translateX(-150px);
  }

  .back-to-position.to-left {
    transform: translateX(150px);
  }

  .back-to-position.to-up {
    transform: translateY(-150px);
  }

.show .back-to-position {
    opacity: 1;
    transform: translateX(0) translateY(0); 
}

 /* 상단 멤버십클럽 할인 배너 */
.top-banner {
    top: 0;
    display: flex;
    width: 100%;
    height: 34px;
    background-color: black;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9;
    overflow: hidden;
    transition: height 0.5s;
}

.top-banner #bannerLink:hover {
    text-decoration: underline;
}

.collapsed {
    height: 0 !important;
}

.collapsed2 {
    margin-top: 0 !important ;
}

.top-banner a{
    font-size: 12px;
    text-decoration: none;
    color: white;
}

.top-banner .material-symbols-outlined{
    position: absolute;
    right: 80px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

/* 헤더 */
header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,.4); 
    height: 110px;
    position: fixed;
    width: 100%;
    z-index: 3;
    margin-top: 34px;
    transition: margin-top 0.5s;
}

header > .inner {
    width: 1755px;
    margin: auto;
    position: relative;
}

header .mobilemenu {
}

header .mobilemenu .material-symbols-outlined {
    color: white;
    display: none;
}

header .inner .logo {
    display: flex;
    position: absolute;
    
    width: 120px;
    height: 24px;
    left: 50%;

    margin-top: -12px;
    margin-left: -60px;
}

header .mobile-menu {
    display: none;
}

header .main-menu {
    display: flex;
    position: absolute;
    top: 0px;
    z-index: 2;
    margin-top: -10px;
    flex-wrap: nowrap;
    margin-right: auto;
    bottom: 0;
}

header .main-menu .item {
}

header .main-menu .item .item__name {
    color: white;
    height: 65px;
    padding-left: 12.5px;
    padding-right: 12.5px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

header .main-menu .item:hover .item__name {
    color: #d5d5d5;
}

header .main-menu .item .item__contents {
    width: 100%;
    position: fixed;
    left: 0;
    display: none;
}

   
 header .main-menu .item:hover .item__contents {
    display: block;
    transition: 0.5s;
}

header .main-menu .item:hover .item__contents .box {}

header .main-menu .item .item__contents .contents__menu {
    background-color:rgba(0,0,0,.5);
    padding-left: 12.5px;
}


header .main-menu .item .item__contents .contents__menu .inner {
    width: 1755px;
    margin: auto;
    position: relative;
}


header .main-menu .item .item__contents .contents__menu > ul {
    display: flex;
    padding: 0px 0 20px 0;
    
}

header .main-menu .item .item__contents .contents__menu > ul > li {
    width: 200px;
}


header .main-menu .item .item__contents .contents__menu > ul > li h4 {
    padding: 12px 0 12px 0;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

header .main-menu .item .item__contents .contents__menu > ul > li {
    padding: 12px 0 12px 0;
    font-size: 14px;
    color: rgb(235, 235, 235);
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li {
    padding: 5px 0 5px 0;
    font-size: 11px;
    color: rgb(245, 245, 245);
    cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
    color: rgb(254, 237, 125);
}


header .menu {
    display: flex;
    position: absolute;
    right: 0;
    margin-top: -10px;
    flex-wrap: nowrap;
}

header .menu li .login{
    color: white;
    padding-right: 25px;
    font-size: 13px;
    font-weight: 700;
}

header .menu li .login:hover {
    color: #d5d5d5;
}

header .menu li .material-symbols-outlined {
    color: white;
    padding: 0px 25px 10px 0px;
    font-size: 18px;
    font-weight: 400;
}

header .menu li .material-symbols-outlined:hover{
    color: #d5d5d5;
}

header .menu .search {}

header .menu .search__name {}

header .menu .search__contents {}

header .menu .search .material-symbols-outlined {
    color: white;
    padding: 0px 25px 10px 0px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

header .menu .search .material-symbols-outlined:hover {
    color: #d5d5d5;
}

.side-bar {
    display: none;
}


.visual {
    background-image: url("../IMG/BG1.jpg");
    background-position: center;
    position: relative;
    
}

.visual .inner {
    height: 930px;
    width: 1254px;
    margin: auto;
    position: relative;
}

.visual .aespa_crocs_img {
    position: absolute;
    top: 25%;
    left: 5%;
}

.visual .aespa_text {
    position: absolute;
    top: 370px;
    right: 100px;
}


.visual .btn {
    position: absolute;
    top: 560px;
    right: 275px;
}

.visual2 {
    background-image: url("../IMG/BG2.jpg");
    background-position: center;
    display: flex;
    
}

.visual2 > .inner {
    height: 930px;
    width: 1254px;
    margin: auto;
    position: relative;
}


.visual2 .aespa_img {
    position: absolute;
    top: 200px;
    right: 0px;
}

.visual2 .aespa_text2 {
    position: absolute;
    top: 350px;
    left: 0px;
}

.visual .fade-in {
    opacity: 0;
}

.promotion {
    position: relative;
    display: flex;
    justify-content: center;
    height: 900px;
}

.promotion .inner {
    width: 1254px;
    display: flex;
    justify-content: center;
}

.promotion h4 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 80px;

}

.promotion .swiper {
    top: 200px;
    position: absolute;
    height: 676px;
    width: 1254px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.promotion .swiper .swiper-wrapper {
    

}

.promotion .swiper .swiper-slide {
}

.promotion .swiper .swiper-slide-active {
    opacity: 1;
}

.promotion .swiper .swiper-slide .btn {
    position: absolute;
    left: 57px;
    top: 580px;
}

.promotion .swiper-prev,
.promotion .swiper-next {
  width: 60px;
  height: 60px;
  outline: none;
  position: absolute;
  /* Swiper Container 높이의 절반만큼 끌어올림 */
  /* 버튼 높이의 절반만큼 추가로 끌어올림 */
  top: 550px;
  z-index: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.promotion .swiper-prev {
  left: 43.5%;
  margin-left: -480px;
}
.promotion .swiper-next {
  right: 43.5%;
  margin-right: -480px;
}
.promotion .swiper-prev:hover,
.promotion .swiper-next:hover {
  color: #000000;
}


.collaboration {
    position: relative;
    cursor: pointer;
    height: 167px;
}

.collaboration .inner {
    width: 1254px;
    margin: auto;

}

.collaboration .swiper {
    position: absolute;
    height: 167.09px;
    width: 1254px;
    overflow: hidden;
    border-radius: 15px;
}

.collaboration .swiper-wrapper {}

.collaboration .swiper-slide {}


.products {
    position: relative;
    display: flex;
    justify-content: center;
    height: 2000px;
}

.products .inner {
    width: 1254px;
    display: flex;
    justify-content: center;
    position: relative;
}

.products h4 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 80px;
}

.main {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200px;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열 */
    grid-template-rows: repeat(3, auto); /* 3개의 행, 자동으로 높이 조절 */
    gap: 31px; /* 열과 행 사이의 간격 */
}
.product-card {
    display: inline-block;
    width: 33.333;
    height: 550px;
    box-sizing: border-box;
    cursor: pointer;
}

.product-card:hover {
    scale: 1.05;
    transition: .4s;
}

.product-card img {
    width: 100%;

}

.products h6 {
    font-weight: 700;
    font-size: 12px;
    color: #a1a1a1;
    margin-top: 30px;
    margin-bottom: 7px;
}

.product-card span {
    font-weight: 400;
    font-size: 15px;
    color: #535353;
    margin-bottom: 10px;
}

.product-card span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.product-card p {
    font-weight: 700;
    font-size: 15px;
    color: #535353;
    margin-top: 8px;
    margin-bottom: 35px;
}




/* footer */
footer {
    position: relative;
    background-color: #5a5a5a;
    border-top: 1px solid #333;
    bottom: 0px;
  }
  footer .inner {
    padding: 40px 0 60px 0;
  }
  footer .menu {
    display: flex;
    justify-content: center;
  }
  footer .menu li {
    position: relative;
  }
  footer .menu li::before {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    margin: auto;
  }
  footer .menu li:last-child::before {
    display: none;
  }
  footer .menu li a {
    display: block;
    color: #CCC;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
  }

  footer .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  footer .btn-group .btn {
    font-size: 12px;
    margin-right: 10px;
  }
  footer .btn-group .btn:last-child {
    margin-right: 0;
  }
  footer .info {
    margin-top: 30px;
    text-align: center;
  }
  footer .info span {
    margin-right: 20px;
    color: #999;
    font-size: 12px;
  }
  footer .info span:last-child {
    margin-right: 0;
  }
  footer p {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
  }

  footer p a {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
    text-decoration: underline;
  }
  footer .logo {
    margin: 40px auto 0;
  }

  
/*SCROLL TO TOP*/
#to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    width: 42px;
    height: 42px;
    background-color: transparent;
    color: #a4a4a4;
    border: 2px solid #d2d2d2;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* ipad */



/* ipad*/
@media screen and (max-width: 1024px) {

    header .mobilemenu .material-symbols-outlined {
        color: white;
        display: block;
        margin-left: 50px;
    }
    

    header .inner .logo {
        display: flex;
        position: absolute;
        
        width: 120px;
        height: 24px;
        left: 50%;
    
        margin-top: -25px;
        margin-left: -60px;
    }
    

    header .main-menu {
        display: none;
    }


    header .menu {
        display: flex;
        position: absolute;
        right: 0;
        margin-top: -25px;
        flex-wrap: nowrap;
    }

    header .menu li .login{
        display: none;
    }

    .sideBarBackground {
        z-index: 9;
        position: absolute;
        width: 100%;
        height: 5240px;
        background-color:rgba(0,0,0,.5);
        display: none;
    }

    .showSideBarBackground {
        display: block;
    }

    .side-bar {
        position: fixed;
        display: block;
        background-color: rgb(0, 0, 0); 
        height: 100%;
        position: fixed;
        width: 350px;
        z-index: 10;
        left: -400px;
        transition: left 0.5s;
    }

    .showsidebar {
        left: 0px;
    }


    .side-bar .inner {
        width: 350px;
        height: 95%;
        margin-left: 25px;
        position: relative;
    }

    .side-bar h6 {
        color: white;
        font-size: 15px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .side-bar a {
        color: white;
        font-size: 25px;
        margin-bottom: 50px;
        font-weight: 700;
    }


    .side-bar .mobile-menu .item .item__name {
        display: flex;
        justify-content: space-between;
        color: rgb(160, 160, 160);
        height: 40px;
        width: 300px;
        margin-top: 30px;
        font-size: 25px;
        font-weight: 700;
        cursor: pointer;
    }

    .side-bar .mobile-menu .item .item__name .material-symbols-outlined{
        color: rgb(160, 160, 160);
        height: 40px;
        font-size: 25px;
        cursor: pointer;
        transition: rotate .5s;

    }

    .flip {
        transform: rotate(180deg);
    }


    .side-bar .mobile-menu .item .item__contents {
        width: 100%;
        display: none;
        transition: 0.5s;
    }

    .more {
        display: block;
    }

    .side-bar .mobile-menu .item .item__contents .contents__menu > ul > li h4 {
        padding: 12px 0 12px 0;
        font-size: 16px;
        color: rgb(160, 160, 160);
    }

    .side-bar .mobile-menu .item .item__contents .contents__menu > ul > li ul li {
        padding: 5px 0 5px 0;
        font-size: 15px;
        color: rgb(245, 245, 245);
        cursor: pointer;
    }

    .visual > .inner {
        position: relative;
        height: 620px;
        width: 90%;
        margin: auto;
    }

    .visual .aespa_crocs_img {
        position: absolute;
        width: 40%;
        top: 200px;
        left: 5%;
    }

    .visual .aespa_text {
        position: absolute;
        width: 40%;
        top: 230px;
        right: 4%;
    }
    

    .visual .btn {
        position: absolute;
        top: 65%;
        right: 15.5%;
        width: 25%;
        font-size: 90%;
    }
    
    .visual2 > .inner {
        position: relative;
        height: 620px;
        width: 90%;
        margin: auto;
    }

    .visual2 .aespa_img {
        position: absolute;
        width: 48%;
        right: 2%;
        top: 120px;
    }
    
    .visual2 .aespa_text2 {
        position: absolute;
        width: 40%;
        top: 230px;
        left: 2%;
    }

    .promotion .swiper {
        width: 90%;
    }

    .promotion .swiper-prev,
    .promotion .swiper-next {
    display: none;
    }

    .collaboration {
        display: none;
    }

    .products {
        height: 3000px;
    }

    .products .inner {
        width: 90%;
    }
    

    
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 3개의 열 */
    }

    .product-card {
        width: 50;
        height: 520px;
    }

    .product-card img {
        width: 100%;
    }
}


/* mobile*/
@media screen and (max-width: 430px) {

    .top-banner {
        display: none;
    }

    header {
        margin-top: 0px;
        height: 75px;
    }

    header .mobilemenu .material-symbols-outlined {
        margin-left: 30px;
    }


    header .menu {
        display: none
    }



    .visual > .inner {
        height: 667px;
    }

    .visual .aespa_crocs_img {
        width: 70%;
        top: 130px;
        left: 16%;
    }

    .visual .aespa_text {
        width: 70%;
        top: 380px;
        right: 12%;
    }

    .visual .btn {
        width: 180px;
        left: 24%;
        top: 520px;
    }

    .visual2 > .inner  {
        height: 667px;
    }

    .visual2 .aespa_img {
        width: 80%;
        right: 10%;
        top: 70px;
    }

    .visual2 .aespa_text2 {
        width: 80%;
        top: 430px;
        left: 10%;
    }

    .promotion .swiper {}

    .grid-container {
        gap: 15px;
    }

    .product-card {
        height: 300px;
    }

    

    .products {
        height: 1790px;
    }

}